html {
    height: 100%;
}

body {
    height: 100%;
  background-image:url("https://thumbs.gfycat.com/OrangeNimbleCaterpillar-size_restricted.gif");
    background-repeat: no-repeat;
    background-size:cover;
}
a {
    text-decoration: none;
        color:#ffff00;
        font-weight:bold;
        font-size: 30px;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.bar{
    
    display:flex;
    flex-direction:column;
    justify-content:space-between;
   
    
}
#title{
   
    color:#ffff00;
font-family: 'Charmonman', cursive;
}