html {
    height: 100%;
}

body {
    height: 100%;
  background-image:url("https://media.giphy.com/media/11wsZr0jbXc15m/giphy.gif");
    background-repeat: no-repeat;
    background-size:cover;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.bar{
    
    display:flex;
    justify-content:space-between;
    
}
#title{
   
    color:	#ffbf00;
    
}