.model{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}
.pic{
    
 width:200px;   
 height:200px;
    
}
body{
background-image: url("https://s3.r29static.com//bin/entry/b2e/x/1587194/image.gif");
 background-repeat: no-repeat;
    background-size:cover;
}
h1{
 font-family: 'Acme', sans-serif;
 
 
}
a{
 font-size: 30px;
  font-family: 'Acme', sans-serif;
}