.model{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}
.pic{
    
 width:100px;   
 height:100px;
    
}
body{
background-image: url("https://s3.r29static.com//bin/entry/b2e/x/1587194/image.gif");
 background-repeat: no-repeat;
    background-size:cover;
}